.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  background: var(--color-bg);
}

.mainConsole {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
